@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(46, 46, 47);
  color: rgb(238, 224, 205);
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.2rem;
  font-weight: normal;
  margin-top: 0.8rem;
}

p#wordToType {
  font-size: 3rem;
  color: rgb(230, 146, 28);
  margin-top: 2rem;
  visibility: hidden;
}

#userInput {
  background: none;
  border: 0;
  padding: 1rem 1rem 1rem 0;
  border-bottom: 2px solid rgb(230, 146, 28);
  color: rgb(230, 146, 28);
  font-size: 3rem;
}

#userInput:focus {
  outline: none;
}

button {
  font-family: inherit;
  font-weight: bold;
  color: rgb(46, 46, 47);
  font-size: 2rem;
  text-transform: uppercase;
  background: rgb(216, 204, 196);
  border: 0;
  border-radius: 4px;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

button.enabled {
  opacity: 1;
  cursor: pointer;
}

button.enabled:hover {
  background: rgb(163, 154, 148);
}

/* button.enabled:focus {
  background: rgb(124, 117, 112);
} */

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.success {
  background: rgb(109, 207, 109);
}

.fail {
  background: rgb(233, 94, 94);
}

.lds-dual-ring {
  display: inline;
  width: inherit;
  height: inherit;
}
.lds-dual-ring:before {
  content: " ";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1rem;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: rgb(46, 46, 47) transparent rgb(46, 46, 47) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
